/* Universal breakpoints */
.terms-section .terms {
  font-weight: normal;
  font-family: "Synchrony Sans", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 20px; }
