/* Universal breakpoints */
.grid-cell:focus-visible {
  outline: 2px solid #3b3d49;
  border-radius: 8px;
  z-index: 0;
  outline-offset: 0px; }
.grid-cell:focus {
  outline: 2px solid #3b3d49;
  border-radius: 8px;
  outline-offset: 0px; 
  z-index: 0;}

.tile {
  width: 316px;
  height: 100%;
  min-height: 294px;
  min-width: 316px;
  background-color: #e8e9ec;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer; }
  .tile.no-hover {
    pointer-events: auto; }
  .tile:hover .deal-image {
    transform: scale(1.1); }
  .tile:hover .offer-link span::after {
    margin: 0 0 0 15px; }
  .tile .offer-content-inner {
    padding: 0 24px 24px; }
  @media (max-width: 991px) {
    .tile {
      min-width: 290px;
      width: 290px;
      margin-top: 0; } }
  @media (max-width: 991px) {
    .tile.hero-tile {
      min-width: 265px;
      width: 265px; } }
  .tile .expiry-badge {
    z-index: 1;
    position: absolute;
    background-color: #fbc600;
    font-weight: 500;
    padding: 4px 8px;
    top: 12px;
    left: 16px;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 2px;
    max-width: calc(100% - 48px); }
  .tile .tile-inner-wrap {
    border-radius: 8px; }
  .tile .tile-inner-image-wrap {
    overflow: hidden; }
  .tile .deal-image {
    height: 100px;
    position: relative;
    border-radius: 8px 8px 0px 0px;
    /* MKPL image lazy loading object fit */
    object-fit: cover;
    transition: transform 200ms ease-in-out; }
  .tile .tile-inner {
    height: 100%; }
  .tile .brand-name {
    font-weight: 500;
    margin: 0 0 16px 0;
    max-width: 200px;
    font-size: 18px;
    line-height: 22px;
    color: #3b3d49; }
    /* Manisha Singh fixed brand name for small devices */
    @media (max-width: 992px) {
      .tile .brand-name {
        max-width: 180px;
      }
    }
  .tile .brand-logo {
    width: 68px;
    height: 68px;
    position: absolute;
    right: 20px;
    top: -34px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); }
  .tile .offer-content {
    position: relative;
    margin-top: 16px; }
  .tile .offer-link {
    padding-bottom: 16px;
    font-size: 24px;
    line-height: 28px;
    word-wrap: break-word;
    text-align: left;
    margin: 0 0 16px 0;
    padding: 0;
    color: #3b3d49;
    display: inline-block; 
  max-width: 100%; /* Manisha- fix for subheading on tiles of search page*/}
    .tile .offer-link span::after {
      content: "\203A";
 position: absolute;
      font-size: 24px;
      display: inline-block;
      text-decoration: none;
      margin-left: 3px; /*MKPL fix based on Keely's comment */
white-space: nowrap;
      transition: margin 200ms ease-in-out; }
    .tile .offer-link-plain {
      text-decoration: none;
      padding-top: 16px;
      padding-bottom: 16px;
      margin: 0 0 16px 0;
      text-decoration: none;
      font-size: 24px;
      line-height: 28px;
      word-wrap: break-word;
      text-align: left;
      color: #3F647C; }
      .tile .offer-link-plain::after {
        display: none; }
  .tile .offer-icon {
    margin: 0 10px 0 0;
    width: auto; }
  .tile .offer-description {
    display: flex;
    align-items: flex-start; }
     .tile .offer-description .learn-more {
      white-space: nowrap;
      color: #3F647C;
      text-decoration: underline;
      font-size: 14px; }
    .tile .offer-description span {
      white-space: nowrap;
      color: #3F647C;
      text-decoration: underline;
      font-size: 14px;
      /* To incorporate as 3rd line - MKPL change */
      padding-left: 28px; }
    .tile .offer-description:last-of-type {
      margin-top: 5px; }
    .tile .offer-description.line-height-24 {
      line-height: 24px; }

.offer-content-sublink {
  font-weight: bold;
  font-size: 15px;
  color: #3b3d49;
  display: block;
  padding-top: 16px;
  cursor: pointer; }

.tile[data-tile-type="evergreen"] {
  background-color: #F9F9FA; }

.tile[data-tile-type="deal"] {
  background-color: #E7F0F4; }

.tile[data-tile-type="everyday"] {
  background-color: #F9F9FA;}

.tile[data-tile-type="deals"] {
  background-color: #E7F0F4;}

.tile[data-tile-type="financing"],
.tile[data-tile-type="special_offer"],
.tile[data-tile-type="blog"],
.tile[data-tile-type="protection"] {
  background-color: #F6F7F8; }

.tile[data-tile-type="large_brand"] {
  background-color: #FFFFFF; }
  .tile[data-tile-type="large_brand"]:focus-within {
    border: 2px solid #3b3d49; }
  .tile[data-tile-type="large_brand"] a {
    pointer-events: auto;
    text-decoration: none; }
  .tile[data-tile-type="large_brand"] .expiry-badge {
    left: unset;
    right: 12px; }
  .tile[data-tile-type="large_brand"] .tile-inner-image-wrap a {
    display: block; }
  .tile[data-tile-type="large_brand"] .tile-brands-overlay {
    opacity: 0.6499999761581421;
    background: #FFF;
    width: 100%;
    height: 100%; }
  .tile[data-tile-type="large_brand"] .deal-image {
    height: 180px;
    position: relative;
    border-radius: 8px; }
  .tile[data-tile-type="large_brand"] .tile-inner {
    position: relative; }
  .tile[data-tile-type="large_brand"] .offer-content {
    position: unset;
    padding-left: 0;
    padding-right: 0; }
  .tile[data-tile-type="large_brand"] .brand-logo {
    width: 132px;
    height: 132px;
    position: absolute;
    right: unset;
    left: 24px;
    top: 24px; }
  .tile[data-tile-type="large_brand"] .brand-name {
    font-size: 24px;
    line-height: 1.2;
    max-width: 300px; }
/* ADA fix for 400% zoom */
    .zoom-in-mode-level-400 .hide-find-a-deal .four-up #dealplaceholder {
      display: block;
    }
    .zoom-in-mode-level-400 .hide-find-a-deal .four-up{
      overflow-x: hidden;
    }
    .zoom-in-mode-level-400 .hide-find-a-deal .four-up #dealplaceholder .grid-cell{
      margin-top: 10px;
    }
